@font-face{
    font-family:'Rubik-Regular';
    src: url(../fonts/inter/Rubik-Regular.ttf) format('truetype');
}

@font-face{
    font-family:'Rubik-Medium';
    src: url(../fonts/inter/Rubik-Medium.ttf) format('truetype');
}

@font-face{
    font-family:'Rubik-SemiBold';
    src: url(../fonts/inter/Rubik-SemiBold.ttf) format('truetype');
}

@font-face{
    font-family:'Inter-SemiBold';
    src: url(../fonts/inter/Inter-SemiBold.ttf) format('truetype');
}